:root {
  //COLOR
  --primaryColor: #ff8811;
  --primaryColorLight: #539ed0;
  --bodyTextColor: #0d0d0d;
  counter-reset: li;

  //body max width
  --maxWidth: 1264px;
  --bodyGap: 4em;
  --smallBodyGap: 2em;

  //container WIDTH
  --containerSmWidth: 540px;
  --containerMdWidth: 720px;
  --containerLgWidth: 960x;
  --containerXlWidth: 1170px;
  --containerXxlWidth: 1320px;

  //FONT SIZE
  --baseSmallSize: 11px;
  --baseMideumSize: 12px;
  --baseLargeSize: 14px;
  --baseExtraLargeSize: 15px;
  --headingFontSize: 2.3em;

  //HEADER NAV
  --headerBorder: #969696;

  //FORM
  --inputFormBorderColor: #969696;
  --inputFormLabelColor: #969696;
  --buttonBGColor: #ff8811;
  --buttonColor: #fff;

  //TABLE
  --tableBorderColor: #e0e0e0;

  //FOOTER
  --footerVolBgColor: #9dd9d2;
  --footerBgColor: #392f5a;
  --footerColor: #fff;
  --footerVoltColor: #2b3e52;

  //STEP PROGRESS
  --completeColor: #ff8811;
  --progressColor: #ff8811;
  --labelColor: #0a2540;
  --borderColor: #d9dbe3;
  --placeHolderColor: #7f7f7f;
  --FormWarrining: #a30000;

  //COLORS
  --whiteColor: #ffffff;
  --greenColor: #00a336;
  --warriningColor: #ff1111;
  --transperentBG: #00000080;
}

.header-main {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 6px 11px 0px #40444d0f;
  -webkit-box-shadow: 0px 6px 11px 0px #40444d0f;
  .navbar {
    padding: 0px !important;
  }

  .logo-text {
    font-weight: 600;
    font-size: 1.8em;
    cursor: pointer;
  }

  .border {
    height: 20px;

    @media only screen and (max-width: 992px) {
      display: none;
    }
  }

  .nav-link {
    color: var(--bodyTextColor);
    font-weight: 500;
    font-size: 0.95em;
    svg {
      width: 1.8em;
    }
    &:hover {
      color: var(--primaryColor);
      svg {
        path {
          stroke: var(--primaryColor);
        }
      }
    }
  }

  .me-auto {
    justify-content: end;
    gap: 1em;
    width: 100%;
    align-items: center;
    .sub-links {
      position: absolute;
      background-color: white;
      margin-top: 27px;
      margin-left: -210px;
      z-index: 1000;
      padding: 10px;
      width: 496px;
      font-weight: 500;
      font-size: 0.95em;
      box-shadow: 0px 4px 14.4px 0px rgba(0, 0, 0, 0.33);
      .polygon {
        position: relative;
        top: -24px;
        left: 219px;
      }
      .polygon:hover {
        border-color: white;
      }
      .sub-menu {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 3px;
        top: -10px;
        .feature {
          width: 215px;
          margin-right: 20px;
          display: flex;
          flex-direction: row;
        }
      }
    }
  }

  // @media (max-width: 992px) {
  //   .offcanvas {
  //     //position: relative;
  //     width: 256px !important;
  //     &.show {
  //       .offcanvas-start {
  //         width: 256px !important;
  //       }
  //     }
  //   }
  //   .me-auto {
  //     width: 256px;
  //     margin: 2.5em 1.5em 3.7em 1.5em;
  //     align-items: initial;
  //     gap: 0em;
  //     .botton {
  //       position: fixed;
  //       z-index: 1000;
  //       background-color: white;
  //       bottom: 0;
  //       left: 0;
  //       width: 256px;
  //       padding: 15px;
  //     }
  //     .sub-links {
  //       top: 0;
  //       left: 0;
  //       width: 32.9375em;
  //       margin: 0em 2.5em;
  //       position: relative;
  //       flex-direction: column;
  //       box-shadow: none;
  //       font-weight: 500;
  //       font-size: 0.95em;

  //       .sub-menu {
  //         display: flex;
  //         flex-direction: column;
  //         .feature {
  //           width: 180px;
  //           height: 40px;
  //           margin: 5px 0px;
  //         }
  //       }
  //     }
  //   }
  // }
}
@media (max-width: 992px) {
  .offcanvas {
    width: 256px !important;
    overflow-y: auto;
    .me-auto {
      margin: 2.5em 1.5em 3.7em 1.5em;
      align-items: initial;
      gap: 0em;
      .botton {
        position: fixed;
        z-index: 1000;
        background-color: white;
        bottom: 0;
        left: 0;
        width: 256px;
        padding: 15px;
      }
      .sub-links {
        top: 0;
        left: 0;
        width: 32.9375em;
        margin: 0em 2.5em;
        position: relative;
        flex-direction: column;
        box-shadow: none;
        font-weight: 500;
        font-size: 0.95em;

        .sub-menu {
          display: flex;
          flex-direction: column;
          .feature {
            width: 180px;
            height: 40px;
            margin: 5px 0px;
          }
        }
      }
    }
  }
}
