.ImageText {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  justify-content: space-around;

  max-width: unset;
}
.ImageText-image {
  margin-top: -20px;
  padding: 0%;
}
.title-prop1-shadow {
  position: absolute;
  background-color: #ffd466;
  font-weight: 501;
  padding: 5px 20px 5px 20px;
  border-radius: 25px;
  z-index: 2;
  margin-top: 230px;
  margin-left: 125px;
  border: #ffd466;
}
.title-prop1 {
  position: absolute;
  background-color: white;
  font-weight: 501;
  padding: 3px 18px 3px 18px;
  border-radius: 25px;
  z-index: 3;
  margin-top: 232px;
  margin-left: 127px;
  border: #ffd466;
}
.title-prop2-shadow {
  position: absolute;
  background-color: #ffd466;
  font-weight: 501;
  padding: 5px 20px 5px 20px;
  border-radius: 25px;
  z-index: 4;
  margin-top: 295px;
  margin-left: 65px;
  border: #ffd466;
}
.title-prop2 {
  position: absolute;
  background-color: white;
  font-weight: 501;
  padding: 3px 18px 3px 18px;
  border-radius: 25px;
  z-index: 5;
  margin-top: 297px;
  margin-left: 67px;
  border: #ffd466;
}
.title-prop3-shadow {
  position: absolute;
  background-color: #ffd466;
  font-weight: 501;
  padding: 5px 20px 5px 20px;
  border-radius: 25px;
  z-index: 6;
  margin-top: 350px;
  border: #ffd466;
}
.title-prop3 {
  position: absolute;
  background-color: white;
  font-weight: 501;
  padding: 3px 18px 3px 18px;
  border-radius: 25px;
  z-index: 7;
  margin-top: 352px;
  margin-left: 2px;
  border: #ffd466;
}

.box-shadow {
  margin-left: 255px;
  position: absolute;
  z-index: -1;
  padding: 82.495px;
  background-color: #ffd466;
  border-radius: 10px;
}
.box {
  position: absolute;
  padding: 80.495px;
  margin-top: 2px;
  margin-left: 256px;
  background-color: white;
  border-radius: 10px;
  z-index: 0;
}

.image-boarder {
  margin-top: 16.38px;
  margin-right: 16.14px;
  width: 395.29px;
  border-radius: 10px;
  border: 2px solid #ffd466;
  position: absolute;
  z-index: 1;
}

.text {
  width: 50%;
  padding: 3em 4em;
  text-align: left;
}

.title {
  text-align: left !important;
}

.subtitle {
  font-weight: normal !important;
}

.Link.buttonLink {
  margin-top: 1rem;
}
